.footer{
    padding: 0.5rem 6rem;
    background-color: #222;
    color: #fff;
}

.top-f{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -2rem;
}

.footerlogo{
    width: 230px; 
    height: 68px; 
    margin-top: 10px;
    margin-bottom: -5px;
    margin-right: 10px; 
    position:relative;
    cursor: pointer;
}

.top-f i{
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
}

.top-f i:hover{
    color: #01959a;
}

.bottom-f{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-f div{
    display: flex;
    flex-direction: column;
}

.bottom-f h4{
    font-size: 0.8rem;
    padding: 1rem 0 0.8rem 0;
}

.bottom-f a{
    text-decoration: none;
    color:#fff;
    padding-bottom: 0.4rem;
    font-size: 0.7rem;
}

@media screen and (max-width:850px) {
    .footer{
        padding: 0.5rem 2rem;
    }

    .top-f a{
        margin: 1rem 1rem 0rem 0rem ;
    }

    .bottom-f div{
        width: 50%;
    }

    .footerlogo{
        margin-bottom: 1rem;
    }
}